.App {
  text-align: center;
}
@font-face{
  font-family: Harmattan;
  src: url("../public/fonts/Harmattan-Bold.ttf");
  font-wight: 900;
}
@font-face{
  font-family: H;
  src: url("../public/fonts/Harmattan-Medium.ttf");
  font-wight: 400;
}
